input, button[type="submit"], button[type="button"], div.panel {
	margin-bottom:7.5px;
	margin-top:7.5px;
}
input.ok {
  background-color: rgb(0,255,0);
  border-color: green;
  color: white;
}
span.ok {
  color: rgb(0,255,0);
}
input.warning {
  background-color: rgb(255,255,0);
  border-color: rgb(200,200,0);
}
span.warning {
  color: yellow;
}
input.fire {
  background-color: rgb(255,0,0);
  border-color: rgb(100,0,0);
  color: white;
}
span.fire {
  color:red;
}
